[submodule "EverOS"]
	path = EverOS
	url = https://github.com/JasonPeng2019/EverOS.git
[submodule "TokenTracker"]
	path = TokenTracker
	url = https://github.com/buh07/TokenTracker.git
[submodule "opencode"]
	path = opencode
	url = https://github.com/JasonPeng2019/opencode.git
[submodule "harness"]
	path = harness
	url = https://github.com/JasonPeng2019/harness-single.git
